{% extends "layouts/main.html" %}

{% block pageTitle %}
  Report an adverse incident – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <header>
    {{govukHeader()}}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/start.html"
      },
      {
        text: "Placing a medical device",
        href: "/navigation.html"
      },
      {
        text: "Post-market surveillance"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Report an incident
      </h1>

      <p>
        Manufacturers must submit reports to the MHRA relating to adverse incidents for devices occurring in Great Britain by using the Manufacturer’s Online Reporting Environment (MORE).
      </p>
      <p>
        We will not accept any reports received via other routes.
      </p>


      {{ govukButton({
        text: "Start MORE",
        href: "https://more.mhra.gov.uk/login",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        To use the MORE portal, you must <a href="https://www.gov.uk/government/publications/more-registrations-user-reference-guide">register for a MORE account</a>.
      </p>

      <p>
        Read the <a href="https://www.gov.uk/government/publications/more-submissions-user-reference-guide">MORE guidance</a>.
      </p>

    

    </div>

  


    <div class="govuk-grid-column-one-third">
<!--
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
-->
    </div>
  </div>

{% endblock %}
