{% extends "layouts/main.html" %}

{% block pageTitle %}
  You do not need to notify the MHRA – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You do not need to notify the MHRA
      </h1>

      <p>
        You do not need to notify the MHRA about your planned clinical investigation at this point in time. 
      </p>
      <p>
        If, after you have started your study, you make any changes, amendments or modifications you should re-assess whether you need to notify us of your study. 
      </p>
      <p>
        All studies intending to use the data collected in their study for conformity assessment of the medical device are required to notify MHRA, as set out in the <a href="https://www.legislation.gov.uk/uksi/2002/618/contents/made">Medical Device Regulations 2002 (as amended)</a>
      </p>
      <p>
        There may be other regulations which apply to your study and you must make sure you understand and fulfil your legal obligations. 
      </p>
   

    </div>
  </div>

{% endblock %}
