{% extends "layouts/main.html" %}

{% block pageTitle %}
  Clinical investigations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
        You need to notify the MHRA
      </h1>


      <p>
        You will need to notify the MHRA about your planned clinical investigation 60 days before it starts. 
      </p>
      <p>You should submit your notification using our online system. You can read our guidance about <a href="https://www.gov.uk/guidance/notify-mhra-about-a-clinical-investigation-for-a-medical-device">clinical investigations and how to notify us of your planned investigation</a>.
      </p>
      <p>
        For specific enquires relating to applications for clinical investigations, contact <a href="mailto:info@mhra.gov.uk">info@mhra.gov.uk</a> and add ‘clinical investigation enquiry’ in the subject line. 
      </p>
      <p>
        The MHRA clinical investigations team can offer a comprehensive device regulatory advice meeting. We cannot review individual documents but we can provide guidance on navigating the regulatory landscape.
      </p>
      


     

    </div>
  </div>

{% endblock %}
