{% extends "layouts/main.html" %}

{% block pageTitle %}
  Clinical investigations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        
      </h1>

      <form class="form" action="/clinical-investigation/institution-does-study" method="post">

        <p>
           {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "oneInstitution",
  fieldset: {
    legend: {
      text: "Is the study being conducted within only health institution?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
