{% extends "layouts/main.html" %}

{% block pageTitle %}
  Find out if an exemption applies to your medical device – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <header>
    {{govukHeader()}}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
       {
        text: "Home",
        href: "/start.html"
      },
      {
        text: "Placing a medical device",
        href: "/navigation.html"
      },
      {
        text: "Clinical investigations"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find out if an exemption applies to your medical device
      </h1>

      <p>
        You do not need to notify us of a clinical investigation if you have manufactured the medical device in-house for your own patients with no objective to place it on the market.</p>
      <p>
        However, you may need to notify the MHRA of a clinical investigation if you want to provide a medical device to another organisation, that up until now has been manufactured in-house for patients, for data to support safety and performance of a commercial product.
      </p>
      <p>
        Exemptions do not apply to in-vitro diagnostic devices (IVDs).    
      </p>
      <p>
        You can use this service to find out if an in house or health institution exemption applies. 
      </p>

      {{ govukButton({
        text: "Continue",
        href: "/clinical-investigation/one-institution",
        isStartButton: true
      }) }}

      

    </div>

    <div class="govuk-grid-column-one-third">
<!--
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
-->
    </div>
  </div>

{% endblock %}
