{% extends "layouts/main.html" %}

{% block pageTitle %}
  Register your medical device – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Help registering your medical device
      </h1>

      <p class="govuk-body-l">
        Find out how to use the device registration service. 
      </p>

     <p>You can find out how to:</p>

     <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://mhra-gov.filecamp.com/s/6FuOxCoQTYcXFWmh/fi">register a general medical device </a></li>
      <li><a href="https://mhra-gov.filecamp.com/s/3VRv78nkUt1j2TVE/fi">register an in vitro diagnostic (IVD) medical device</a></li>
      <li><a href="https://mhra-gov.filecamp.com/s/VSyR0SJ6n0kFKqmY/fi">register an IVD for performance evaluation</a></li>
      <li><a href="https://mhra-gov.filecamp.com/s/i/OkHhSTNv1S77W9IQ">register a custom-made medical device</a></li>
      <li><a href="https://mhra-gov.filecamp.com/s/d/Y9OXiImIJZ0788Fw">register a system or procedure pack</a></li>
     </ul>

    <p>
      If you have any questions or need more support you can email <a href="mailto:device.registrations@mhra.gov.uk">device.registrations@mhra.gov.uk</a>, quoting your reference number.
    </p>

    </div>
  </div>

{% endblock %}











