{% extends "layouts/main.html" %}

{% block pageTitle %}
  Medical devices – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Classification of medical devices
      </h1>

      <p class="govuk-body-l">
        Medical devices are given a classification depending on the level of risk associated with them.
      </p>

     
    

<h2 class="govuk-heading-m">
General medical devices and active implantable devices
</h2>

<p>
When you have established that your product is a general medical device, you need to work out which class your device falls under. The categories are:
</p>
<ul class="govuk-list govuk-list--bullet">
        <li>class I - generally regarded as low risk</li>
        <li>class IIa - generally regarded as medium risk</li>
        <li>class IIb - generally regarded as medium risk</li>
        <li>class III - generally regarded as high risk</li>
      </ul>


<p>
How a medical device is classified will depend on factors including the intended purpose of the device, how long it’s intended to be in use for and if the device:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>is invasive or surgically invasive</li>
  <li>is implantable or active</li>
  <li>contains a substance, which in its own right is considered to be a medicinal substance</li>
</ul>

<p>Accessories to medical devices are classified separately to the device, excluding accessories to active implantable devices.</p>

<p>Active implantable devices are considered a separate risk class to general medical devices.  Specific requirements for these devices are available in <a href="https://www.legislation.gov.uk/uksi/2002/618/contents">Part 3 of the UK Medical Device Regulations 2002 (UK MDR 2002)</a>.</p>

<h2 class="govuk-heading-m">
In vitro diagnostic medical devices (IVDs)
</h2>

<p>In vitro diagnostic medical devices are categorised differently into 4 main groups, which are devices:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>considered as general IVD medical devices</li>
  <li>within the classifications stated in Part IV of the UK MDR 2002, Annex II List A (as modified by Part III of Schedule 2A)</li>
  <li>within the classifications stated in Part IV of the UK MDR 2002, Annex II List B (as modified by Part III of Schedule 2A)</li>
  <li>for ‘self-test’ intended to be used by a person at home</li>
</ul>

<p>You can find out more about <a href="https://www.gov.uk/guidance/regulating-medical-devices-in-the-uk">how medical devices are regulated</a>.</p>

    </div>
  </div>

{% endblock %}
