{% extends "layouts/main.html" %}

{% block pageTitle %}
  Medical devices – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <form class="form" action="/medical-device-check-answers" method="post">

        <p>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whatType",
  fieldset: {
    legend: {
      text: "What type of device is it?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "A general medical device",
      text: "A general medical device (for example, bandages, prostheses, ECG monitors or heart valves)"
    },
    {
      value: "Active implantable medical device",
      text: "An active implantable medical device (for example, cochlear implant, pacemaker, stimulator or monitoring device)"
    },
    {
      value: "An in vitro diagnostic device",
      text: "An in vitro diagnostic device (for example, reagent product or calibrator)"
    },
    {
      value: "None of these types",
      text: "Not one of these types"
    }
  ]
}) }}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
