{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You do not have a medical device to place on the market
      </h1>

      <p>
        It is unlikely that your device would be defined as a medical device under the regulations.
      </p>
      <p>
        You can read more in our guidance on borderline products which explains when a product might be a medicine or a different type of healthcare device. 
      </p>
      
      <p>
          If you would like advice about whether your product is a medical device you can email <a href="mailto:devices.borderlines@mhra.gov.uk">devices.borderlines@mhra.gov.uk</a>. Make sure you include full details of the product, its intended purpose and how it works in your email.
      </p>

      <p>
        Read more about <a href="https://www.gov.uk/government/collections/services-and-information">the MHRA's information and services</a>.
      </p>

    </div>
  </div>

{% endblock %}
