{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page with step by step template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {# Blank header with no service name for this page #}
  <header>{{govukHeader()}}</header>
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block containerStart %}
  <div class="app-step-nav-header">
    <span class="app-step-nav-header__part-of">Part of</span>
    <a class="app-step-nav-header__title" href="/app/views/navigation.html">
      Place a medical device on the market: step by step
    </a>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Place a medical device on the market
    </h1>
    <p>Find out how to place a medical device on the market in Great Britain. There is difference guidance for <a href="https://www.gov.uk/guidance/regulating-medical-devices-in-the-uk">placing medical devices on the market in Northern Ireland</a>.</p>
    <p>Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>understand which UK regulations apply to your device</li>
      <li>check what type of medical device you have</li>
      <li>find out if you need a clincial investigation</li>
      <li>read guidance about comformity assessment and UKCA markings</li>
      <li>register your medical device with the MHRA</li>
    </ul>

    <a href="/navigation.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-step-nav-related app-step-nav-related--singular">
      <h2 class="app-step-nav-related__heading">
        <span class="app-step-nav-related__pretitle">Part of</span>
        <a href="/navigation.html">
          Place a medical device on the market: step by step
        </a>
      </h2>
    </div>

    <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav govuk-!-display-none-print js-hidden" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check you have a medical device according to the regulations
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph"></p>

            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item app-step-nav__list-item--active">
                <a data-position="1.1" class="app-step-nav__link js-link" href="medical-device.html">
                  <span class="app-step-nav__link-active-context govuk-visually-hidden">You are currently viewing: </span>Check you have a medical device </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.2" class="app-step-nav__link js-link" href="medical-device-regulations.html">Medical devices and the regulations </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.3" class="app-step-nav__link js-link" href="medical-devices-and-other-products.html">Medical devices and other health products</a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Find out which class of deivce you have
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.1" class="app-step-nav__link js-link" href="class/start-class"><span class="app-step-nav__context">Check the class of your medical device</span></a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.2" class="app-step-nav__link js-link" href="classifying-medical-devices"><span class="app-step-nav__context">Classifying medical devices</span></a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.3" class="app-step-nav__link js-link" href="https://ec.europa.eu/docsroom/documents/10337/attachments/1/translations"><span class="app-step-nav__context">MEDDEV 2.4/1: classification of medical devices</span></a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Find out if you need to notify us about a clinical investigation
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">You may need to tell the MHRA about your clinical investigation 60 days before it starts.</p>

            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="clinical-investigation/start-investigation.html">Find out if you need to notify us about a clinical investigation</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.2" class="app-step-nav__link js-link" href="clinical-investigation/start-exemption.html">Check if an exemption applies to your device </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.3" class="app-step-nav__link js-link" href="clinical-investigation/notify-mhra.html">How to notify the MHRA about your investigation </a>
            </ol>

          </div>

        </li>
        <!--
        <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Prepare for your theory test
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="4.1" class="app-step-nav__link js-link" href="#">Theory test revision and practice </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="4.2" class="app-step-nav__link js-link" href="#">Take a practice theory test </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a rel="external" data-position="4.3" class="app-step-nav__link js-link" href="#">Theory and hazard perception test app </a>
              </li>
            </ol>
          </div>

        </li> -->
        <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Arrange a conformity assessment
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-5">
            <p class="app-step-nav__paragraph">Introduction.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.1" class="app-step-nav__link js-link" href="#">one<span class="app-step-nav__context">£23</span></a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.2" class="app-step-nav__link js-link" href="#">two</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.3" class="app-step-nav__link js-link" href="#">three </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.4" class="app-step-nav__link js-link" href="#">four </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.5" class="app-step-nav__link js-link" href="#">five </a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Applying a UKCA marking
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-6">
            <p class="app-step-nav__paragraph">Introduction.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.1" class="app-step-nav__link js-link" href="#">one <span class="app-step-nav__context">£62 to £75</span></a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.2" class="app-step-nav__link js-link" href="#">two </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.3" class="app-step-nav__link js-link" href="#">three </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.4" class="app-step-nav__link js-link" href="#">four</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="6.5" class="app-step-nav__link js-link" href="#">five</a>
              </li>
            </ol>

          </div>

        </li>
        <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Register your medical device
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">
            <p class="app-step-nav__paragraph">Some words making a sentence.</p>

    
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.1" class="app-step-nav__link js-link" href="#">Find out about useful things. </a>
              </li>
            </ol>

          </div>

        </li>
         <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Manage your device after placing it on the market
              </span>
            </h3>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">
            <p class="app-step-nav__paragraph">Once your medical device has been placed on the market you must continue to manage and monitor your device.</p>

            <p class="app-step-nav__paragraph">Some more words.</p>

            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.1" class="app-step-nav__link js-link" href="#">Link</a>
              </li>
            </ol>

          </div>

        </li>
      </ol>
    </div>


  </div>

</div>


</div>
</div>
{% endblock %}
