{% extends "layouts/main.html" %}

{% block pageTitle %}
  UKCA marking – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Applying a UKCA marking
      </h1>

      <p class="govuk-body-l">
        Once you have completed the appropriate conformity assessment route you can use the UKCA marking.
      </p>
      <p>
        This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.
      </p>
      <p>
        A UKCA mark is a logo that is placed on medical devices to show they conform to the requirements in the UK MDR 2002. It shows that the device is fit for its intended purpose stated and meets legislation relating to safety. It shows the product can be freely marketed in Great Britain (England, Wales and Scotland). 
      </p>
      <p>
        UKCA marking requirements are currently based on the requirements of the relevant annexes to the directives listed below, which have been modified by Schedule 2A to the UK MDR 2002:
      </p>
       <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A01990L0385-20071011">Directive 90/385/EEC</a> on active implantable medical devices (EU AIMDD)</li>
        <li><a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A01993L0042-20071011">Directive 93/42/EEC</a> on medical devices (EU MDD)</li>
        <li><a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A01998L0079-20120111">Directive 98/79/EC</a>on in vitro diagnostic medical devices (EU IVDD)</li>
      </ul>
      <p>
        You must sign a ‘declaration of conformity’ before you can place the UKCA mark on your product.
      </p>
      <p>
        An identification number for an approved body needs to be placed below the UKCA mark if it has been involved in the conformity assessment. This depends on which assessment route you had to follow, based on the class of your medical device.
      </p>

      <p>
        Read more <a href="https://www.gov.uk/guidance/medical-devices-conformity-assessment-and-the-ukca-mark#the-ukca-mark">UKCA marking</a>.
      </p>
      <p>
        Find out <a href="https://www.gov.uk/guidance/using-the-ukca-marking#how-to-use-the-ukca-marking">how to apply the mark</a> to your physical product.
      </p>

    </div>
  </div>

{% endblock %}





