{% extends "layouts/main.html" %}

{% block pageTitle %}
  Conformity assessment routes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Class IIa conformity assessment route
      </h1>

      <p>
        You need to declare that your Class IIa device conforms to the requirements in UK MDR. 
      </p>
      <p>
        You also need to apply to an approved body to carry out a conformity assessment to approve your declaration.
      </p>
      <p>
        You also need to follow one of the procedures set out in Part II of the UK MDR:
      </p>
       <ul class="govuk-list govuk-list--bullet">
        <li>an examination and testing of each product or homogenous batch of products (Annex IV)</li>
        <li>an audit of the production quality assurance system (Annex V)</li>
        <li>an audit of final inspection and testing (Annex V)</li>
        <li>an audit of the full quality assurance system (Annex II)</li>
      </ul>
      <p>
        You can place a UKCA mark on your product and place it on the market when you have received a certificate from the approved body.
      </p>

    </div>
  </div>

{% endblock %}














