{% extends "layouts/main.html" %}

{% block pageTitle %}
  Conformity assessment routes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Complying with other designated standards
      </h1>
      <p class="govuk-body-l">
        FInd out which international standards apply to medical devices.
      </p>

      <p>
        You have the option to use any international standard that has been designated to the <a href="https://www.legislation.gov.uk/uksi/2002/618/contents/made">UK Medical Device Regulations 2002</a> (UK MDR). If you comply with these designated standards you will conform with the relevant parts of the directive that are covered by these standards. The use of standards is not mandatory, but most manufacturers choose to use them.
      </p>
      <p>
        Key international standards designated for the UK MDR include:
      </p>
       <ul class="govuk-list govuk-list--bullet">
        <li>BS EN ISO 13485:2016+A11:2021: Medical devices - Quality management systems - Requirements for regulatory purposes</li>
        <li>BS EN ISO 14971:2019/A11:2021: Medical devices - Application of risk management to medical devices</li>
        <li>BS EN ISO 10993 Series: Biological evaluation of medical devices (various parts for biocompatibility).</li>
        <li>ISO 11135: Sterilization of health-care products - Ethylene oxide.</li>
        <li>ISO 11137 Series: Sterilization of health care products - Radiation.</li>
        <li>BS EN ISO 17665: Sterilization of health care products - Moist heat. </li>
        <li>BS EN 62304:2006+A1:2015: Medical device software - Software life cycle processes.</li>
        <li>BS EN 62366-1:2015+A1:2020: Medical devices - Application of usability engineering to medical devices. </li>
        <li>BS EN 60601 Series: Medical electrical equipment (safety and performance requirements).</li>
        <li>BS EN ISO 15223-1:2021: Medical devices - Symbols to be used with information to be supplied by the manufacturer</li>
      </ul>

     

    </div>
  </div>

{% endblock %}








. 












