{% extends "layouts/main.html" %}

{% block pageTitle %}
  Conformity assessment routes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
      
      </h1>

      <form class="form" action="/conformity-assessment/class-one-route" method="post">

        <p>
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "deviceTypeRoute",
  fieldset: {
    legend: {
      text: "What type of medical device do you intend to place on the UK market?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "class-one",
      text: "Class I device"
    },
    {
      value: "class-two-a",
      text: "Class IIa device"
    },
    {
      value: "class-two-b",
      text: "Class IIb device"
    },
    {
      value: "class-three",
      text: "Class III device"
    },
    {
      value: "ivd-device",
      text: "In vitro diagnostic medical device"
    }
  ]
}) }}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
