{% extends "layouts/main.html" %}

{% block pageTitle %}
  Conformity assessment routes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        In vitro diagnostic medical devices (IVDs)
      </h1>

      <p>
        You must follow the conformity assessment procedure appropriate for the category of IVD concerned. 
      </p>
      <p>
        The categories of devices are explained in Part IV of the UK MDR 2002, Annex II List A and List B (as modified by Part III of Schedule 2A).
      </p>

       <p>
        These categories are: 
      </p>
       <ul class="govuk-list govuk-list--bullet">
        <li>general IVDs not included in another list </li>
        <li>IVDs for self-testing (a device intended by the manufacturer to be able to be used by lay persons in a home environment) excluding self-test devices included in other lists </li>
        <li>IVDs in the List B classifications, including reagents products for rubella, toxoplasmosis and phenylketonuria, and devices for self-testing for blood sugar </li>
        <li>IVDs in the List A classifications including reagents and products for HIV I and II, hepatitis B, C and D, and reagent products for determining ABO systems and anti-Kell including those used to test donated blood plus tests for screening vCJD </li>
      </ul>
      <p>
        Conformity assessment routes are detailed in Regulation 40 of Part IV of the UK MDR 2002 (as modified by Part III of Schedule 2A).
      </p>
      <p>
        You can find out more about <a href="https://www.gov.uk/government/publications/in-vitro-diagnostic-medical-devices-guidance-on-legislatione">conformity assessments for IVDs</a>.
      </p>

    </div>
  </div>

{% endblock %}

• 

• 

• 

• 












• general IVDs not included in another list 

• IVDs for self-testing (a device intended by the manufacturer to be able to be used by lay persons in a home environment) excluding self-test devices included in other lists 

• IVDs in the List B classifications, including reagents products for rubella, toxoplasmosis and phenylketonuria, and devices for self-testing for blood sugar 

• IVDs in the List A classifications including reagents and products for HIV I and II, hepatitis B, C and D, and reagent products for determining ABO systems and anti-Kell including those used to test donated blood plus tests for screening vCJD 

 


