{% extends "layouts/main.html" %}

{% block pageTitle %}
  Conformity assessment routes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <header>
    {{govukHeader()}}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/start.html"
      },
      {
        text: "Placing a medical device",
        href: "/navigation.html"
      },
      {
        text: "Conformity assessment routes"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check which conformity assessment route you need to follow
      </h1>

      <p>
        Medical devices placed on the UK market must have a UKCA mark to show that the device conforms with the requirements of the <a href="https://www.legislation.gov.uk/uksi/2002/618/contents">Medical Devices Regulations 2002 (SI 2002 No 618, as amended)</a> (UK MDR 2002).</p>
      <p>
        You need to demonstrate that your medical device meets the requirements in the UK MDR 2002 by carrying out a conformity assessment. The assessment route depends on the classification of the device.
      </p>
      <p>
        UKCA mark requirements for medical devices are based on the 3 main types of medical devices and their associated Part in the UK MDR 2002:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>general medical devices - Part II of the UK MDR 2002</li>
        <li>active implantable medical devices - Part III of the UK MDR 2002</li>
        <li>in vitro diagnostic medical devices (IVDs) - Part IV of the UK MDR 2002</li>
      </ul>

      <p>You can place a UKCA mark on your product to show that the medical device has met the requirements when you have passed the conformity assessment.
      </p>
      <p>
        This service will help you work out which assessment route you should follow. 
      </p>


      {{ govukButton({
        text: "Start",
        href: "/conformity-assessment/device-type",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can <a href="medical-device">check which type of medical device you have</a>.
      </p>

      <p>
        You can also <a href="class/start-class">find out which class applies to your device</a>.
      </p>

      <p>
        You will need this information to work out your assessment route.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
<!--
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
-->
    </div>
  </div>

{% endblock %}
