{% extends "layouts/main.html" %}

{% block pageTitle %}
  UK approved bodies – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <header>
    {{govukHeader()}}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/start.html"
      },
      {
        text: "Placing a medical device",
        href: "/navigation.html"
      },
      {
        text: "Conformity assessment routes"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find a UK approved body
      </h1>

      <p class="govuk-body-l">
        You need to appoint at UK approved body to conduct your conformity assessment, unless you have a non-sterile or non-measuring class I device.</p>
      <p>
        UK approved bodies can conduct conformity assessments in relation to the UKCA marking, for medical devices, active implantable medical devices and in vitro diagnostic medical devices under Parts II, III, and IV of the UK MDR 2002. 
      </p>
      <p>
        UK approved bodies are not able to conduct conformity assessments in relation to the CE marking.
      </p>

      

      <p>You can use this service to find a UK government-appointed approved body to conduct your conformity assessment.</p>

      {{ govukButton({
        text: "Start now",
        href: "https://find-a-conformity-assessment-body.service.gov.uk",
        isStartButton: true
      }) }}

      












    </div>

    <div class="govuk-grid-column-one-third">
<!--
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
-->
    </div>
  </div>

{% endblock %}
